.DS_Store
commit.sh
ufo/
ios/Pods
ios/sourdough.xcworkspace/xcshareddata/
ios/sourdough.xcworkspace/xcuserdata/
ios/sourdough.xcodeproj/project.xcworkspace/xcuserdata/
ios/sourdough.xcodeproj/xcuserdata/
Podfile.lock